.container {
    height: auto;
    margin: .5em;
}

#headshot{
    height: 200px;
    width: 200px;
}

.resume{
    background-color: rgba(255, 255, 255, .5);
}

h1{
    font-family: 'Avenir', sans-serif;
    color: #000;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
    font-size: 1.9em;
    padding: 2% 0;
    margin-top: 5%;
}

p{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    background-color: rgba(255, 255, 255, .5);
    padding: 2%;
    margin-top: 5%;
}
header{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
}
sub-header{
    font-size: .8em;
    padding-right: 4%;
    font-weight: bold;
}
body{
    font-size: .8em;
}



img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Nav menu styles */

nav ul{
    margin: 0;
    padding: 1% 0;
    overflow: hidden;
    width: 100%;
    font-size: 1.9em;
}

nav ul li{
    display: block;
    padding: 0;
    margin: 3%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .5);
    padding: 2% 0;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
    
}

a:hover{
    font-weight: 500;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;   
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/ziaclouds0024.jpg') no-repeat;
    background-size: cover;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(../images/ziaclouds0024.jpg) no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}